<div class="quizz__container">

    <div class="quizz_logo">
      <img src="assets/imgs/logo.png" alt="Quiz Logo">
      <h3>{{ title }}</h3>
    </div>
  
    <!-- Se o quiz ainda não terminou -->
    <div *ngIf="!finished">
      <div class="quizz_questions">
        <h3 *ngIf="questionSelected">{{ questionSelected?.question }}</h3>
      </div>
  
      <div class="quizz_options">
        <button
          *ngFor="let option of questionSelected?.options"
          (click)="playerChoose(option.alias)"
          class="btn-option">
          {{ option.name }}
        </button>
      </div>
    </div>
  
    <!-- Se o quiz terminou -->
    <div *ngIf="finished" class="quizz_results">
      <h1>O Seu Resultado é:</h1>
      <p>{{ answerSelected }}</p>
    </div>
  
  </div>
  